USE [master]
GO
/****** Object:  Database [ART_CONTEST]    Script Date: 2025-08-24 10:49:57 AM ******/
CREATE DATABASE [ART_CONTEST]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ART_CONTEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ART_CONTEST]
GO
/****** Object:  Table [dbo].[art_city]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[art_city](
	[city_id] [int] NOT NULL,
	[city_name] [varchar](25) NOT NULL,
	[country_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[art_country]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[art_country](
	[country_id] [int] NOT NULL,
	[country_name] [varchar](20) NOT NULL,
	[continent_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[art_gallery]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[art_gallery](
	[gallery_id] [int] NOT NULL,
	[gallery_name] [varchar](25) NOT NULL,
	[city_id] [int] NULL,
	[privately_owned] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[gallery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[art_specialization]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[art_specialization](
	[specialization_id] [char](2) NOT NULL,
	[specialization_desc] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[specialization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[art_team_results]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[art_team_results](
	[a_team_id] [int] NULL,
	[round_stage] [char](1) NOT NULL,
	[in_group] [char](1) NOT NULL,
	[rounds_no] [int] NOT NULL,
	[r_won] [int] NOT NULL,
	[r_lost] [int] NOT NULL,
	[points_for_team] [int] NOT NULL,
	[p_s] [int] NOT NULL,
	[p_v2] [int] NOT NULL,
	[p_v3] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[artist_roster]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artist_roster](
	[artist_id] [int] NOT NULL,
	[artist_name] [varchar](50) NOT NULL,
	[a_team_id] [int] NOT NULL,
	[specialization_id] [char](2) NOT NULL,
	[senior_artist] [char](1) NULL,
	[date_of_birth] [date] NOT NULL,
	[prev_art_studio] [varchar](50) NULL,
	[cur_art_studio] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[artist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[artwork_details]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artwork_details](
	[artwork_id] [varchar](7) NOT NULL,
	[artwork_title] [varchar](40) NOT NULL,
	[a_team_id] [int] NOT NULL,
	[artist_id] [int] NOT NULL,
	[orig_price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[artwork_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[judge_roster]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[judge_roster](
	[judge_id] [int] NOT NULL,
	[judge_name] [varchar](50) NOT NULL,
	[judge_occupation] [varchar](50) NOT NULL,
	[country_id] [int] NOT NULL,
	[head_judge] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[judge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[liked_artist]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liked_artist](
	[round_id] [int] NOT NULL,
	[round_stage] [char](1) NOT NULL,
	[a_team_id] [int] NOT NULL,
	[artist_id] [int] NOT NULL,
	[like_no] [int] NOT NULL,
	[invited] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point_details]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point_details](
	[point_id] [int] IDENTITY(1,1) NOT NULL,
	[round_id] [int] NOT NULL,
	[a_team_id] [int] NOT NULL,
	[artist_id] [int] NOT NULL,
	[point_amt] [int] NOT NULL,
	[point_type] [char](4) NULL,
	[point_day_no] [int] NOT NULL,
	[round_stage] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[point_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[round_captain]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[round_captain](
	[round_id] [int] NOT NULL,
	[a_team_id] [int] NOT NULL,
	[artist_captain_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[round_details]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[round_details](
	[round_id] [int] NOT NULL,
	[a_team_id] [int] NOT NULL,
	[round_stage] [char](1) NOT NULL,
	[round_results] [char](1) NOT NULL,
	[points_earned] [int] NOT NULL,
	[sale_points] [int] NOT NULL,
	[prom_artists_no] [int] NOT NULL,
	[judge_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[round_summary]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[round_summary](
	[round_id] [int] IDENTITY(1,1) NOT NULL,
	[gallery_id] [int] NOT NULL,
	[round_stage] [char](1) NOT NULL,
	[round_week] [int] NOT NULL,
	[points_scored] [varchar](5) NOT NULL,
	[head_judge_id] [int] NOT NULL,
	[artist_of_round] [int] NOT NULL,
	[voters_no] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[round_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[round_id] [int] NOT NULL,
	[a_team_id] [int] NOT NULL,
	[artist_id] [int] NOT NULL,
	[artwork_id] [varchar](7) NOT NULL,
	[sale_price] [numeric](18, 0) NOT NULL,
	[buyer_type] [char](3) NOT NULL,
	[sale_no] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[senior_artist_details]    Script Date: 2025-08-24 10:49:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[senior_artist_details](
	[a_team_id] [int] NOT NULL,
	[artist_id] [int] NOT NULL,
	[comp_total] [int] NOT NULL,
	[awards_won] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[art_city] ([city_id], [city_name], [country_id]) VALUES (1200, N'Los Angeles', 1049)
INSERT [dbo].[art_city] ([city_id], [city_name], [country_id]) VALUES (1388, N'New York', 1049)
INSERT [dbo].[art_city] ([city_id], [city_name], [country_id]) VALUES (1455, N'Boston', 1049)
GO
INSERT [dbo].[art_country] ([country_id], [country_name], [continent_name]) VALUES (1021, N'Spain', N'Europe')
INSERT [dbo].[art_country] ([country_id], [country_name], [continent_name]) VALUES (1025, N'Czech Republic', N'Europe')
INSERT [dbo].[art_country] ([country_id], [country_name], [continent_name]) VALUES (1034, N'France', N'Europe')
GO
INSERT [dbo].[art_gallery] ([gallery_id], [gallery_name], [city_id], [privately_owned]) VALUES (3114, N'Gerard Gallery of Art', 1388, N'Y')
INSERT [dbo].[art_gallery] ([gallery_id], [gallery_name], [city_id], [privately_owned]) VALUES (3225, N'Dali Art Gallery', 1677, NULL)
INSERT [dbo].[art_gallery] ([gallery_id], [gallery_name], [city_id], [privately_owned]) VALUES (3453, N'Danbi Studio', 1455, N'Y')
GO
INSERT [dbo].[art_specialization] ([specialization_id], [specialization_desc]) VALUES (N'PH', N'photographer')
INSERT [dbo].[art_specialization] ([specialization_id], [specialization_desc]) VALUES (N'PT', N'painter')
INSERT [dbo].[art_specialization] ([specialization_id], [specialization_desc]) VALUES (N'SC', N'sculptor')
GO
INSERT [dbo].[art_team_results] ([a_team_id], [round_stage], [in_group], [rounds_no], [r_won], [r_lost], [points_for_team], [p_s], [p_v2], [p_v3]) VALUES (1021, N'G', N'A', 3, 2, 1, 19, 9, 4, 6)
INSERT [dbo].[art_team_results] ([a_team_id], [round_stage], [in_group], [rounds_no], [r_won], [r_lost], [points_for_team], [p_s], [p_v2], [p_v3]) VALUES (1025, N'G', N'B', 3, 2, 1, 17, 7, 4, 6)
INSERT [dbo].[art_team_results] ([a_team_id], [round_stage], [in_group], [rounds_no], [r_won], [r_lost], [points_for_team], [p_s], [p_v2], [p_v3]) VALUES (1034, N'G', N'A', 3, 2, 1, 18, 10, 2, 6)
GO
INSERT [dbo].[artist_roster] ([artist_id], [artist_name], [a_team_id], [specialization_id], [senior_artist], [date_of_birth], [prev_art_studio], [cur_art_studio]) VALUES (2102, N'Luis Gonzalez', 1021, N'PH', NULL, CAST(N'1999-03-08' AS Date), NULL, N'Luna Art Studio')
INSERT [dbo].[artist_roster] ([artist_id], [artist_name], [a_team_id], [specialization_id], [senior_artist], [date_of_birth], [prev_art_studio], [cur_art_studio]) VALUES (2104, N'Mercedes Lopez', 1021, N'PT', NULL, CAST(N'2000-11-24' AS Date), NULL, N'Paloma Art Studio')
INSERT [dbo].[artist_roster] ([artist_id], [artist_name], [a_team_id], [specialization_id], [senior_artist], [date_of_birth], [prev_art_studio], [cur_art_studio]) VALUES (2107, N'Anita Acedo', 1021, N'PT', N'Y', CAST(N'1992-02-10' AS Date), N'Simple Art Studio', N'Primavera Art Studio')
GO
INSERT [dbo].[artwork_details] ([artwork_id], [artwork_title], [a_team_id], [artist_id], [orig_price]) VALUES (N'21009SC', N'The Lovers', 1021, 2112, 2899)
INSERT [dbo].[artwork_details] ([artwork_id], [artwork_title], [a_team_id], [artist_id], [orig_price]) VALUES (N'21045PT', N'Fall Leaves', 1021, 2107, 2200)
INSERT [dbo].[artwork_details] ([artwork_id], [artwork_title], [a_team_id], [artist_id], [orig_price]) VALUES (N'21106PT', N'Moonlight Lake', 1021, 2107, 1400)
GO
INSERT [dbo].[judge_roster] ([judge_id], [judge_name], [judge_occupation], [country_id], [head_judge]) VALUES (1234, N'Anaya Raj', N'Curator', 1046, N'Y')
INSERT [dbo].[judge_roster] ([judge_id], [judge_name], [judge_occupation], [country_id], [head_judge]) VALUES (1409, N'Jonathan Welsh', N'Artistic Director', 1055, N'Y')
INSERT [dbo].[judge_roster] ([judge_id], [judge_name], [judge_occupation], [country_id], [head_judge]) VALUES (1427, N'Juliette Monet', N'Art critic', 1034, N'Y')
GO
INSERT [dbo].[liked_artist] ([round_id], [round_stage], [a_team_id], [artist_id], [like_no], [invited]) VALUES (1, N'G', 1021, 2107, 457, NULL)
INSERT [dbo].[liked_artist] ([round_id], [round_stage], [a_team_id], [artist_id], [like_no], [invited]) VALUES (1, N'G', 1034, 3411, 598, NULL)
INSERT [dbo].[liked_artist] ([round_id], [round_stage], [a_team_id], [artist_id], [like_no], [invited]) VALUES (1, N'G', 1021, 2132, 564, N'Y')
GO
SET IDENTITY_INSERT [dbo].[point_details] ON 

INSERT [dbo].[point_details] ([point_id], [round_id], [a_team_id], [artist_id], [point_amt], [point_type], [point_day_no], [round_stage]) VALUES (1, 1, 1021, 2102, 3, N'p_v3', 1, N'G')
INSERT [dbo].[point_details] ([point_id], [round_id], [a_team_id], [artist_id], [point_amt], [point_type], [point_day_no], [round_stage]) VALUES (2, 1, 1021, 2107, 1, N'p_v2', 2, N'G')
INSERT [dbo].[point_details] ([point_id], [round_id], [a_team_id], [artist_id], [point_amt], [point_type], [point_day_no], [round_stage]) VALUES (3, 1, 1021, 2112, 1, N'p_v2', 2, N'G')
GO
SET IDENTITY_INSERT [dbo].[point_details] OFF
GO
INSERT [dbo].[round_captain] ([round_id], [a_team_id], [artist_captain_id]) VALUES (1, 1021, 2107)
INSERT [dbo].[round_captain] ([round_id], [a_team_id], [artist_captain_id]) VALUES (1, 1034, 3411)
INSERT [dbo].[round_captain] ([round_id], [a_team_id], [artist_captain_id]) VALUES (2, 1046, 4622)
GO
INSERT [dbo].[round_details] ([round_id], [a_team_id], [round_stage], [round_results], [points_earned], [sale_points], [prom_artists_no], [judge_id]) VALUES (1, 1021, N'G', N'W', 8, 3, 3, 2244)
INSERT [dbo].[round_details] ([round_id], [a_team_id], [round_stage], [round_results], [points_earned], [sale_points], [prom_artists_no], [judge_id]) VALUES (1, 1034, N'G', N'L', 6, 5, 1, 2257)
INSERT [dbo].[round_details] ([round_id], [a_team_id], [round_stage], [round_results], [points_earned], [sale_points], [prom_artists_no], [judge_id]) VALUES (2, 1046, N'G', N'L', 3, 0, 1, 2248)
GO
SET IDENTITY_INSERT [dbo].[round_summary] ON 

INSERT [dbo].[round_summary] ([round_id], [gallery_id], [round_stage], [round_week], [points_scored], [head_judge_id], [artist_of_round], [voters_no]) VALUES (1, 3114, N'G', 1, N'8:6', 1234, 2132, 876)
INSERT [dbo].[round_summary] ([round_id], [gallery_id], [round_stage], [round_week], [points_scored], [head_judge_id], [artist_of_round], [voters_no]) VALUES (2, 3225, N'G', 1, N'3:4', 1409, 5806, 988)
INSERT [dbo].[round_summary] ([round_id], [gallery_id], [round_stage], [round_week], [points_scored], [head_judge_id], [artist_of_round], [voters_no]) VALUES (3, 3453, N'G', 1, N'5:4', 1427, 2511, 1004)
SET IDENTITY_INSERT [dbo].[round_summary] OFF
GO
SET IDENTITY_INSERT [dbo].[sales] ON 

INSERT [dbo].[sales] ([sale_id], [round_id], [a_team_id], [artist_id], [artwork_id], [sale_price], [buyer_type], [sale_no]) VALUES (1, 1, 1021, 2132, N'21137PH', CAST(800 AS Numeric(18, 0)), N'IND', 1)
INSERT [dbo].[sales] ([sale_id], [round_id], [a_team_id], [artist_id], [artwork_id], [sale_price], [buyer_type], [sale_no]) VALUES (2, 1, 1034, 3429, N'34916PT', CAST(1090 AS Numeric(18, 0)), N'ORG', 2)
INSERT [dbo].[sales] ([sale_id], [round_id], [a_team_id], [artist_id], [artwork_id], [sale_price], [buyer_type], [sale_no]) VALUES (3, 1, 1021, 2102, N'21935PH', CAST(780 AS Numeric(18, 0)), N'IND', 3)
SET IDENTITY_INSERT [dbo].[sales] OFF
GO
INSERT [dbo].[senior_artist_details] ([a_team_id], [artist_id], [comp_total], [awards_won]) VALUES (1021, 2107, 5, 3)
INSERT [dbo].[senior_artist_details] ([a_team_id], [artist_id], [comp_total], [awards_won]) VALUES (1025, 2523, 5, 2)
INSERT [dbo].[senior_artist_details] ([a_team_id], [artist_id], [comp_total], [awards_won]) VALUES (1034, 3411, 4, 2)
GO
ALTER TABLE [dbo].[art_city]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[art_gallery]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[art_city] ([city_id])
GO
ALTER TABLE [dbo].[art_team_results]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[artist_roster]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[artist_roster]  WITH CHECK ADD FOREIGN KEY([specialization_id])
REFERENCES [dbo].[art_specialization] ([specialization_id])
GO
ALTER TABLE [dbo].[artwork_details]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[artwork_details]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artist_roster] ([artist_id])
GO
ALTER TABLE [dbo].[judge_roster]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[liked_artist]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[liked_artist]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artist_roster] ([artist_id])
GO
ALTER TABLE [dbo].[liked_artist]  WITH CHECK ADD FOREIGN KEY([round_id])
REFERENCES [dbo].[round_summary] ([round_id])
GO
ALTER TABLE [dbo].[point_details]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[point_details]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artist_roster] ([artist_id])
GO
ALTER TABLE [dbo].[point_details]  WITH CHECK ADD FOREIGN KEY([round_id])
REFERENCES [dbo].[round_summary] ([round_id])
GO
ALTER TABLE [dbo].[round_captain]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[round_captain]  WITH CHECK ADD FOREIGN KEY([artist_captain_id])
REFERENCES [dbo].[artist_roster] ([artist_id])
GO
ALTER TABLE [dbo].[round_captain]  WITH CHECK ADD FOREIGN KEY([round_id])
REFERENCES [dbo].[round_summary] ([round_id])
GO
ALTER TABLE [dbo].[round_details]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[round_details]  WITH CHECK ADD FOREIGN KEY([judge_id])
REFERENCES [dbo].[judge_roster] ([judge_id])
GO
ALTER TABLE [dbo].[round_details]  WITH CHECK ADD FOREIGN KEY([round_id])
REFERENCES [dbo].[round_summary] ([round_id])
GO
ALTER TABLE [dbo].[round_summary]  WITH CHECK ADD FOREIGN KEY([artist_of_round])
REFERENCES [dbo].[artist_roster] ([artist_id])
GO
ALTER TABLE [dbo].[round_summary]  WITH CHECK ADD FOREIGN KEY([gallery_id])
REFERENCES [dbo].[art_gallery] ([gallery_id])
GO
ALTER TABLE [dbo].[round_summary]  WITH CHECK ADD FOREIGN KEY([head_judge_id])
REFERENCES [dbo].[judge_roster] ([judge_id])
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artist_roster] ([artist_id])
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([artwork_id])
REFERENCES [dbo].[artwork_details] ([artwork_id])
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([round_id])
REFERENCES [dbo].[round_summary] ([round_id])
GO
ALTER TABLE [dbo].[senior_artist_details]  WITH CHECK ADD FOREIGN KEY([a_team_id])
REFERENCES [dbo].[art_country] ([country_id])
GO
ALTER TABLE [dbo].[senior_artist_details]  WITH CHECK ADD FOREIGN KEY([artist_id])
REFERENCES [dbo].[artist_roster] ([artist_id])
GO
ALTER TABLE [dbo].[art_team_results]  WITH CHECK ADD CHECK  (([round_stage]='G' OR [round_stage]='S'))
GO
ALTER TABLE [dbo].[liked_artist]  WITH CHECK ADD CHECK  (([round_stage]='G' OR [round_stage]='S' OR [round_stage]='F'))
GO
ALTER TABLE [dbo].[point_details]  WITH CHECK ADD CHECK  (([point_type]='p_v3' OR [point_type]='p_v2' OR [point_type]='p_s'))
GO
ALTER TABLE [dbo].[point_details]  WITH CHECK ADD CHECK  (([round_stage]='G' OR [round_stage]='S' OR [round_stage]='F'))
GO
ALTER TABLE [dbo].[round_details]  WITH CHECK ADD CHECK  (([round_stage]='G' OR [round_stage]='S' OR [round_stage]='F'))
GO
ALTER TABLE [dbo].[round_details]  WITH CHECK ADD CHECK  (([round_results]='W' OR [round_results]='L'))
GO
ALTER TABLE [dbo].[round_summary]  WITH CHECK ADD CHECK  (([round_stage]='G' OR [round_stage]='S' OR [round_stage]='F'))
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD CHECK  (([buyer_type]='IND' OR [buyer_type]='ORG'))
GO
USE [master]
GO
